<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mis en ligne le {{ faceSnap.createdAt | date: 'MMMM d, y, h:mm a'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description | lowercase }}</p>
    @if (faceSnap.location) {
        <p>Localisation : {{ faceSnap.location | titlecase }}</p>
    } @else  {
        <p>Localisation non specifée</p>
    }
    <p>
        <button (click)="onSnap()" >{{ snapButtonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, '+ faceSnap.snaps +' , 0)' }" >🤌 {{ faceSnap.snaps }}</span>
    </p>
</div>
    