.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #f8f9fa;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
  }

  .card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    flex: 1; 
  }
  
  .card-footer {
    margin-top: auto;
  }
  
  .card-footer button {
    border-radius: 0 0 10px 10px;
  }

  
form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
  }
  
  